<li id="ssh_pubkey_<%= ssh_pubkey.id %>">
  <span class="actions float-r">
    <%= link_to _('Edit'), edit_ssh_pubkey_path(ssh_pubkey.id) %>
    <%= link_to _('Delete'), ssh_pubkey_path(ssh_pubkey), options_for_destroy_link %>
  </span>
  <span><%= link_to ssh_pubkey.filename, ssh_pubkey_path(ssh_pubkey) %></span>
</li>
